html,body,container
{ 
  height: 100%; margin: 0; padding: 0; width: 100%; overflow-x: hidden;
}


* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  background:#26003F;

}

.site-content {
    flex: 1;
  }



.main-content {
  flex: 1;
}


.menu,
a { 
  font-family: 'Mountains of Christmas';
  font-weight: bold;
  font-size: 26px;
  color: #7DCCEF;
  text-decoration: none;
	display: inline-block;
}


@media (min-width:1850px){
	.menu, a {
		font-size: 35px; /*!!!!prima 40*/
		 vertical-align: middle;
	}
}

header 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
padding-bottom: 30px;
	padding-left: 0;
	padding-right: 10px;

}


.menu 
{
list-style: none;
}

.menu li {
  display: inline-block;
  padding: 0 20px;
}

.menu li a {
  transition: all 0.3s ease;

}

.menu a:hover {
  font-family: 'Mountains of Christmas';
  font-style: bold;
  text-decoration: none;
  color:#00527F;
}

/*prima era 1400*/
@media (max-width: 1380px) {
    .menu {
      display:none;
    }
  }


@media (max-width: 13800px) {
    #logomenu {
    
		height: auto;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
    }
  }

@media (max-width: 500px) {
    #logomenu {
    
		height: auto;
	display: block;
  margin-left: auto;
  margin-right: auto;
 /*  width: 320px; */
		width: 90%;
		position: center;
		
    }
  }



.social {
	width: 35px; /*prima 38*/

}

.social2 {
	width: 45px;
	margin-top: 10px;
	margin-bottom: 40px;
	margin-left: 20px;
	marging-right: 20px;

}


/* HAMBURGER */

.icons {
  text-align: center;
}

img[class^=icon] {
  display: inline-block;
  vertical-align: middle;
  margin:0 1em;
}

/*prima era 1400*/
@media (min-width: 1380px) {
    .icons {
    
		display: none;
    }
  }

/* DA QUI IN POI C'è IL TESTO */

.center {
	float: center;
	width: 80%;
	 display: block;
  margin-left: auto;
  margin-right: auto;
}

/*prima era 1400 e 100%*/
@media (max-width: 1380px) {
    .center {
    
		width: 90%;
    }
  }

h1 {
	 font-family: 'Mountains of Christmas';
  font-style: bold;
  text-decoration: none;
  color:#7DCCEF;
	font-size: 68px;
	text-align: center;
	margin-top: 30px;
	
	
}

.p1 {
	font-family: 'Love Ya Like A Sister', cursive;
	 text-decoration: none;
  color:#7DCCEF;
	font-size: 32px;
	text-align: center;

	margin-top: 30px;
	margin-left: 15%;
	margin-right: 15%;
	
}


#spacer0 {
	height:50px;
}

@media (max-width:900px){
	.spacer0 {
		display: none;
	}
}

@media (max-width:1100px){
	.spacer2x {
		display: none;
	}
}

@media (min-width:1800px){
	.spacer, .spacer2x {
		height: 250px;
	}
}

.spacer {
	  height:50px;
}

.spacer2x {
	  height:100px;
}




/* POTIONS */

.section-container {

	bs-gutter-x: 1.5rem;
	bs-gutter-y: 0; 
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter--y)* -1);
	margin-right: calc(var(--bs-gutter-x)/ -2);
	margin-left: calc(var(--bs-gutter-x)/ -2);
	
}

.section-container .columns {
	
flex: 0 0 auto;
	width: 50%;
	
}

.section-container .columns.image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.section-container .columns.content .content-container {
	padding: 40px 50px;
}

h3{

	font-family: 'Mountains of Christmas';
	margin-bottom: 20px;
  font-style: bold;
  text-decoration: none;
  color:#7DCCEF;
	font-size: 50px;
	text-align: center;
}

.p2 {
font-family: 'Love Ya Like A Sister', cursive;
	 text-decoration: none;
  color:#7DCCEF;
	font-size: 32px;
	text-align: center;
	margin-top: 30px;
	margin-left: 10%;
	margin-right: 10%;
}

.p3 {
font-family: 'Love Ya Like A Sister', cursive;
	 text-decoration: none;
  color:#7DCCEF;
	font-size: 32px;
	text-align: center;
	margin-top: 30px;
	margin-left: 10%;
	margin-right: 10%;

}

.sideimageright {
	float: right;
	width:60%;
	height:auto;
	margin: 20% 20%;
	margin-bottom: 0px;
}


@media (max-width:1100px) {
	.sideimageright{
		margin-top: 20px;
	}
}

@media (min-width:1400px) {
	.sideimageright{
		margin-top: 0px;
	}
}

@media (min-width:1800px) {
	.p1, .p2, .p3, .h1, .h2, .footertext {
font-size: 60px;
	}
}

@media (min-width:1800px) {
	#potions, #welcome, #magicians, #about, #roadmap {
font-size: 90px;
	}
}


@media (min-width:1800px) {
	.social, .social2 {
width: 70px;
	}
}



.sideimageright2 {
	float: right;
	width:60%;
	height:auto;
	margin-top: 0px;
	margin-right: 20%;
	margin-bottom: 0px;
}



.sideimageleft {
	float: left;
	width:60%;
	height:auto;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10%;
} 


.centerimage {
	width:80%;
	align-content: center;
	margin-left:10%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 5%;
	
}


.testodestra {
	float: left;
	width:calc(100% - 350px - 10px);
}

@media screen and (max-width:1100px){
	.section-container
	{
		flex-flow:row wrap;
	}
	.section-container .columns.image {
		display:block;
		order:1;
		width:100%;
		height:auto;

	}
	
	.section-container .columns.content {
		display: block;
		order:2;
		width:100%;
	}
	
}

/*!!!!!!!!
testo per smartphone prima 27 ora 22 */ 
@media screen and (max-width:500px){
	.p2 {
		
		width:100%;
		padding: 0px;
		display:table-row;
		text-align: center;
		font-size: 22px;
	}
	
}

@media screen and (max-width:500px){
	.p3 {
		
		display:flex;
		font-size: 22px;
	}
	
}

@media screen and (max-width:500px){
	.p1 {
		
	display:flex;
		font-size: 22px;
		
	}
	
}

@media screen and (max-width:500px){
	#welcome {
		
	text-align: center;
		font-size: 50px;
		
	}
	
}



.colonnasinistra {
	float: left; 
	
	width: 40%;
	margin-left: 80px;
	font-family: 'Love Ya Like A Sister', cursive;
	 text-decoration: none;
  color:#7DCCEF;
	font-size: 27px;
	text-align: center;
	border: 2px solid #7DCCEF;
	border-spacing: 1em .5em;
	padding: 1em;
}


.colonnadestra {
	float: right; 

	width: 40%;
	margin-right: 80px;
	font-family: 'Love Ya Like A Sister', cursive;
	 text-decoration: none;
  color:#7DCCEF;
	font-size: 27px;
	text-align: center;
	border: 2px solid #7DCCEF;
	border-spacing: 1em .5em;
	padding: 1em;
	
}



@media (max-width: 1000px) {
    .colonnasinistra  {
width: 95%;
	float:none;
		padding: 1em;
		margin-right: 20px;
		margin-left: 20px;

		
    }
  }

@media (max-width: 500px) {
    .colonnasinistra  {
width: 90%;
	

		
    }
  }



@media (max-width: 1000px) {
    .colonnadestra  {
width: 95%;
	float:none;
		margin-top: 50px;
		margin-right: 20px;
		margin-left: 20px;
		padding: 1em;
    }
  }


@media (max-width: 500px) {
    .colonnadestra  {
width: 90%;
	
		margin-top: 50px;
		
  }

}




@media (min-width:1800px) {
	.colonnasinistra, .colonnadestra {
font-size: 60px;
		width: 40%;
	}
}


@media (min-width:1800px) {
	.menu {
 display: flex;
  justify-content: space-between;
  align-items: center;
		font-weight: bold;
	}
}


/*  FOOTER */


.menu2 
{
list-style: none;
}

.menu2 li {
  display: inline-block;
  padding: 0 20px;
}

.footerlogo {
	width: 50px;
	margin-left: 50px;
	margin-bottom: 20px;
	float:left;
	
}


.footertext {
	margin-right: 20px;
	padding-top: 40px;
	text-align: right;
	font-family: 'Love Ya Like A Sister', cursive;
	color: #7DCCEF;
	font-size: 23px;
	float: right;
	margin-bottom: 20px;
}


.footersocial {
	text-align: end;
	margin-right: 20px;
	}

@media (min-width:1800px) {
	.footerlogo {
width: 80px;
		margin-bottom: 20px;
	}
}

